$font-color-primary: #fff;
$font-color-secondary: #2b2b2b;
$font-color-tertiary: #005E94;

$bg-color-primary: #1f1f1f;
$bg-color-secondary: #f7f7f7;
$bg-color-tertiary: #f5f5f5;

$font-size: clamp(.9em, calc(.3em + 1.6vmin), 4em);